{% load staticfiles %}
<div id="ad-count" class="hidden" data-ad-count="{{ ads | length }}"></div>

<div class="banner">
    <div id="slide-holder">
        <div id="slide-runner">
            {% for ad in ads %}
                <a href="/" target="_blank">
                    <img id="slide-img-{{forloop.counter}}" data-client="{{ad.title}}" data-desc="{{ad.description}}" src='uploads/{{ad.image_url}}' alt="" />
                </a>
            {% endfor %}
            <div id="slide-controls">
                <p id="slide-client" class="text"><strong></strong><span></span></p>
                <p id="slide-desc" class="text"></p>
                <p id="slide-nav"></p>
            </div>
        </div>
    </div>
    <script>
      if(!window.slider) {
        var slider={};
      }
      slider.data = [];
      var adCount = parseInt($('#ad-count').data('ad-count'))+1;
      for(var i=1; i<adCount; i++){
        slider.data.push({
          "id": "slide-img-"+i,
          "client": $("#slide-img-"+i).data('client'),
          "desc": $("#slide-img-"+i).data('desc')
        });
      }
    </script>
</div>
<!-- banner代码 结束 -->
