{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
{% include 'ad.html' %}
    <div class="topnews">
      <h2>最新文章</h2>
    {% for article in articles %}
    <div class="blogs">
        <ul>
          <h3><a href="/">{{ article.title }}</a></h3>
          <p>{{ article.desc }}</p>
          <p class="autor">
            <span class="lm f_l">
                {% for tag in article.tag.all %}
                  <a href="/">{{ tag.name }}</a>
                {% endfor %}
            </span>
            <span class="dtime f_l">{{ article.date_publish | date:'Y-m-d'}}</span>
            <span class="viewnum f_r">浏览（<a href="/">{{ article.click_count }}</a>）</span>
              <span class="pingl f_r">评论（<a href="/">{{ article.comment_set.all.count }}</a>）</span>
          </p>
        </ul>
      </div>
      {% endfor %}
    </div>
    <div id="pagination">
        <ul id="pagination-flickr">
        {% if articles.has_previous %}
            <li class="previous">
              <a href="?page={{ articles.previous_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}{% if request.GET.cid %}&cid={{ request.GET.cid }}{% endif %}">&laquo;上一页</a></li>
        {% else %}
            <li class="previous-off">&laquo;上一页</li>
        {% endif %}
         <li class="active">{{ articles.number }}/{{ articles.paginator.num_pages }}</li>
        {% if articles.has_next %}
          <li class="next"><a href="?page={{ articles.next_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}{% if request.GET.cid %}&cid={{ request.GET.cid }}{% endif %}">下一页 &raquo;</a></li>
        {% else %}
          <li class="next-off">下一页 &raquo;</li>
        {% endif %}
       </ul>
    </div>
{% endblock %}
